@page
@{
    Layout = null;
}
<html>
    <body>
        <h1>Hello World!</h1>

        <img src="~/services/mypages/contents/ma.jpg" alt="">
            <script src="/js/site.js"></script>

            <script src="~/services/mypages/scripts/script.js"></script>
    </body>
</html>